language: go
install: go get -v github.com/spf13/hugo
script:
  - sudo apt-get install tree
  - hugo -v
  - tree
  - python --version
  - sudo pip install awscli
  - aws s3 sync --acl "public-read" --sse "AES256" public/ s3://fuckyoudynamicweb.com --exclude 'post'
notifications:
    email:
        on_failure: always
